[Desktop Entry]
Type=X-Zim-CustomTool
Version=1.0
GenericName=
Name=Calculadora en línea
Comment=Calculadora en línea
Exec=
TryExec=
Icon=
MimeType=
Terminal=false
NoDisplay=false
X-Zim-ExecTool=calc %t
X-Zim-ReadOnly=false
X-Zim-ShowInToolBar=false
X-Zim-ShowInContextMenu=Text
X-Zim-ReplaceSelection=true

